<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="col-md-6 ">
        <img src="/images/login_afe3eb0.png" height="64" width="64"/>
        <h1>我们的小屋</h1>
    </div>
    <div class="col-md-6 ">
        <h1>切换账号</h1>
        <h1>退出</h1>
    </div>
</div>
</body>
</html>
