<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用户注册</title>

    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body class="bg">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script src="../../js/bootbox.js"></script>-->
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div style="width: 420px;height: 670px;background-color: white;padding: 20px 40px 30px 40px;border-radius: 10px ">
            <div align="center">
                <img src="/images/y.jpg" class="img-responsive" height="64" width="64" style="border-radius: 50%"/>
            </div>
            <form enctype="multipart/form-data" method="post" id="registerForm">
                <div class="form-group has-feedback">
                    <label for="username"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="username" name="username" class="form-control" placeholder="请输入用户名" maxlength="20"
                               type="text" onchange="checkName2()">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label for="username"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="job" name="job" class="form-control" placeholder="请输入工作" maxlength="20" type="text">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label for="username"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="age" name="age" class="form-control" placeholder="请输入年龄" maxlength="20" type="text">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label for="password"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="password" name="password" class="form-control" placeholder="请输入密码" maxlength="20"
                               type="password">
                    </div>

                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label for="passwordConfirm"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20"
                               type="password">
                    </div>
                    <span style="color:red;display: none;" class="tips"></span>
                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>


                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group has-feedback">
                            <label for="idcode-btn"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                                <input id="idcode-btn" class="form-control" placeholder="验证码" maxlength="4" type="text">
                            </div>
                            <span style="color:red;display: none;" class="tips"></span>
                            <span style="display: none;"
                                  class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding-top: 30px">
                        <div id="idcode" style="background: transparent;"></div>
                    </div>
                </div>


                <div class="form-group">
                    <input class="form-control btn btn-primary" id="submit"
                           value="立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册"
                           type="button" onclick="register()">
                </div>

                <div class="form-group">
                    <input value="重&nbsp;&nbsp;&nbsp;&nbsp;置" id="reset" class="form-control btn btn-danger"
                           type="reset">
                </div>

                <div class="form-group">
                    <input value="返&nbsp;&nbsp;&nbsp;&nbsp;回" id="reback" class="form-control btn btn-danger"
                           type="button" onclick="window.location.href='/login/loginHtml'" >
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../js/bootbox.js"></script>
<script src="../../js/register.js"></script>


</body>
</html>


