<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用户登陆</title>

    <!--<script src="../../js/jquery-3.4.1.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/login.css">
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/drag.css">
    <script src="../../js/drag.js"></script>

</head>
<body class="bg" onkeydown="keyLogin()">

<script src="../../js/bootbox.js"></script>

<div class="container">

    <div class="col-md-4 col-md-offset-4">
        <div style="width: 30vw;height: 70vh;background-color: white;padding: 20px 40px 30px 40px;border-radius: 10px">
            <div align="right">
                <a style="cursor: pointer;text-decoration: none;font-size:1.2vw;padding-top: 1vw "
                   href="/login/registerpage">
                    新注册账号&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div align="center" style="margin-top: 2vh">
                <p style="font-size: 2vw;font-weight: bold;text-shadow:1vh 1vh 1vh #33bbdd ">
                    登&nbsp;&nbsp;&nbsp;&nbsp;录</p>
            </div>
            <form enctype="multipart/form-data" method="post" id="loginForm"
            >

                <div class="form-group has-feedback">
                    <label for="username"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="username" name="username" class="form-control" placeholder="请输入用户名/邮箱"
                               maxlength="20"
                               type="text" onchange="checkName1()" autofocus>
                    </div>
                    <div class="col-xs-5 col-md-offset-8" style="padding: 0.3vh 0px 0.3vh 2vw ">
                        <a style="cursor: pointer;text-decoration: none;font-size: 15px ;color: cornflowerblue"
                           data-target="#findUserNamepage" data-toggle="modal"
                           title="忘记用户名,通过邮箱找回">忘记用户名？</a>
                        <!--<button type="button" class="btn btn-info logo2 " id="newgoal" data-target="#newgoalpage"-->
                        <!--data-toggle="modal" onclick="newgoal()">-->
                        <!--<span class="glyphicon glyphicon-plus" style="padding-right: 0.3vw"></span>设定目标-->
                        <!--</button>-->
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="password"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="password" name="password" class="form-control" placeholder="请输入密码"
                               maxlength="20"
                               type="password">
                    </div>
                    <div class="col-xs-5 col-md-offset-8" style="padding: 0.3vh 0px 0.3vh 2vw ">
                        <a style="cursor: pointer;text-decoration: none;font-size: 15px ;color: cornflowerblue"
                           title="忘记密码?" data-toggle="modal" data-target="#findPwdPage">忘记密码？</a>
                        <!--<button type="button" class="btn btn-info logo2 " id="newgoal1" data-target="#newgoalpage"-->
                        <!--data-toggle="modal" onclick="newgoal()">-->
                        <!--<span class="glyphicon glyphicon-plus" style="padding-right: 0.3vw"></span>设定目标-->
                        <!--</button>-->
                    </div>
                </div>
                <div class="row">
                    <label for="drag"></label>
                    <div id="drag" style="margin-bottom: 2vw;margin-left: 1vw"></div>
                </div>

                <div class="form-group">
                    <input class="form-control btn btn-info"
                           value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录" id="tijiao"

                           type="button" onclick="login()">

                </div>

            </form>
        </div>
    </div>

    <!--找回用户名的遮罩层-->
    <div class="modal fade" id="findUserNamepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="findUserNametitle" align="center">
                        找&nbsp;&nbsp;回&nbsp;&nbsp;用&nbsp;&nbsp;户&nbsp;&nbsp;名
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="findUserNameform">

                        <div class="form-group has-feedback" align="center">
                            <label for="email"></label>
                            <div class="input-group" style="width: 50%">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-envelope"></span></span>
                                <input id="email" name="email" class="form-control" placeholder="请输入注册邮箱"
                                       type="text">
                            </div>
                            <label for="email"></label>
                            <p style="font-weight: bolder;font-style: italic">(请登录邮箱查看找回的登录名)</p>
                            <div class="form-group" style="width: 50%" align="center">
                                <input class="form-control btn btn-info"
                                       value="找&nbsp;&nbsp;回&nbsp;&nbsp;用&nbsp;&nbsp;户&nbsp;&nbsp;名"

                                       type="button" onclick="findUserName()">

                            </div>

                        </div>

                        <!--<div class="modal-footer">-->


                        <!--</div>-->
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>


    <!--找回密码遮罩层-->
    <div class="modal fade" id="findPwdPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="findPwdtitle" align="center">
                        找&nbsp;&nbsp;回&nbsp;&nbsp;密&nbsp;&nbsp;码
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="findPwdform">

                        <div class="form-group has-feedback" align="center">
                            <label for="email1"></label>
                            <div class="input-group" style="width: 50%">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-envelope"></span></span>
                                <input id="email1" name="email1" class="form-control" placeholder="请输入注册邮箱/用户名"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group has-feedback" align="center">
                            <label for="password1"></label>
                            <div class="input-group" style="width: 50%">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input id="password1" name="password1" class="form-control" placeholder="请输入密码"
                                       maxlength="20"
                                       type="password">
                            </div>
                        </div>
                        <div class="form-group has-feedback" align="center">
                            <label for="passwordconfirm"></label>
                            <div class="input-group" style="width: 50%">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input id="passwordconfirm" name="passwordconfirm" class="form-control"
                                       placeholder="请确认密码"
                                       maxlength="20"
                                       type="password">
                            </div>

                        </div>

                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" onclick="findPassword()">
                            <span class="glyphicon glyphicon-saved" style="padding-right: 0.3vw"></span>确定
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" style="padding-right: 0.3vw"></span>关闭
                        </button>

                    </div>

                    <!--<div class="modal-footer">-->


                    <!--</div>-->
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<script src="../../js/login.js"></script>

<script type="text/javascript">
    $('#drag').drag();
</script>
</body>
</html>


