<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用户登陆</title>

    <!--<script src="../../js/jquery-3.4.1.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/login.css">
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/drag.css">
    <script src="../../js/drag.js"></script>

</head>
<body class="bg">

<script src="../../js/bootbox.js"></script>

<div class="container">

    <div class="col-md-4 col-md-offset-4">
        <div style="width: 30vw;height: 70vh;background-color: white;padding: 20px 40px 30px 40px;border-radius: 10px">
            <div align="right">
                <a style="cursor: pointer;text-decoration: none;font-size:1.2vw;padding-top: 1vw "
                   href="/login/registerpage">
                    新注册账号&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div align="center" style="margin-top: 2vh">
                <p style="font-size: 2vw;font-weight: bold;text-shadow:1vh 1vh 1vh #33bbdd ">
                    登&nbsp;&nbsp;&nbsp;&nbsp;录</p>
            </div>
            <form enctype="multipart/form-data" method="post" id="loginForm"
                  οnkeydοwn="if(event.keyCode==13) return login();">

                <div class="form-group has-feedback">
                    <label for="username"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="username" name="username" class="form-control" placeholder="请输入用户名"
                               maxlength="20"
                               type="text" onchange="checkName1()" autofocus>
                    </div>
                    <div class="col-xs-5 col-md-offset-8" style="padding: 0.3vh 0px 0.3vh 2vw ">
                        <a style="cursor: pointer;text-decoration: none;font-size: 15px ;color: cornflowerblue"
                           href="/login/findUserName" target="_blank" title="忘记用户名,通过邮箱找回">忘记用户名？</a>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label for="password"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="password" name="password" class="form-control" placeholder="请输入密码"
                               maxlength="20"
                               type="password">
                    </div>
                    <div class="col-xs-5 col-md-offset-8" style="padding: 0.3vh 0px 0.3vh 2vw ">
                        <a style="cursor: pointer;text-decoration: none;font-size: 15px ;color: cornflowerblue"
                           href="/login/findPwdPage" target="_blank" title="忘记密码?">忘记密码？</a>
                    </div>
                </div>
                <div class="row">
                    <label for="drag"></label>
                    <div id="drag" style="margin-bottom: 2vw;margin-left: 1vw"></div>
                </div>

                <div class="form-group">
                    <input class="form-control btn btn-info"
                           value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录" id="tijiao"

                           type="button" onclick="login()">

                </div>

            </form>
        </div>
    </div>
</div>
<script src="../../js/login.js"></script>

<script type="text/javascript">
    $('#drag').drag();
</script>
</body>
</html>


