<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.account.mapper.GoalMapper">
    <resultMap id="goalRestMap" type="com.abc.account.pojo.Goal">
        <id column="GOALID" property="id"/>
        <result column="GOALNAME" property="goalName"/>
        <result column="GOALDESC" property="goalDesc"/>
        <result column="GOALTOTAL" property="goalTotal"/>
        <result column="GOALPERCENT" property="goalPercent"/>
        <result column="ENDDATE" property="endDate"/>
        <result column="PROCESS" property="process"/>
        <result column="USERNAME" property="userName"/>
        <!--<result column="U_IDENTITY_CARD" property="identityCard"/>-->
    </resultMap>

    <!--新增目标-->
    <insert id="addGoal" parameterType="com.abc.account.pojo.Goal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO A_GOAL
        (GOALNAME,GOALDESC,GOALTOTAL,GOALPERCENT,ENDDATE,PROCESS,USERNAME)
        VALUES (
            #{goalName},
            #{goalDesc},
            #{goalTotal},
            #{goalPercent},
            #{endDate},
            #{process},
            #{userName}
        )
    </insert>

    <!--查询目标-->
    <select id="getAllGoal" resultMap="goalRestMap">
        SELECT * FROM A_GOAL WHERE USERNAME = #{name}
    </select>

    <!--修改目标-->
    <update id="updateGoal" parameterType="com.abc.account.pojo.Goal">
        UPDATE A_GOAL  SET GOALNAME = #{goalName,jdbcType=VARCHAR},GOALTOTAL = #{goalTotal,jdbcType=VARCHAR},ENDDATE = #{endDate,jdbcType=VARCHAR}
         WHERE GOALID = #{id,jdbcType=INTEGER}
    </update>

    <!--删除目标-->
    <delete id="delGoal">
        DELETE FROM A_GOAL  WHERE GOALID = #{id,jdbcType=INTEGER}
    </delete>

    <!--&lt;!&ndash;获取所有用户&ndash;&gt;-->
    <!--<select id="getAllUser" resultMap="userRestMap">-->
    <!--SELECT * FROM A_USER-->
    <!--</select>-->
</mapper>
