<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.account.mapper.InAndOutMapper">
    <resultMap id="InAndOutRestMap" type="com.abc.account.pojo.InAndOut">
        <id column="A_ID" property="id"/>
        <result column="A_U_NAME" property="u_name"/>
        <result column="A_K_NAME" property="k_name"/>
        <result column="A_FLAG" property="flag"/>
        <result column="A_DESC" property="desc"/>
        <result column="A_CHARGE" property="charge"/>
        <result column="A_DATE" property="date"/>
    </resultMap>
<resultMap id="getAllOutRestMap" type="com.abc.account.pojo.InAndOut">
        <result column="A_K_NAME" property="k_name"/>
        <result column="CHARGE" property="charge"/>
    </resultMap>

    <!--查询所有记录-->

    <select id="selAllRecord">
        SELECT * FROM A_INOUT_ALL
    </select>

    <!--查询当前用户记录-->
    <select id="selRecord" resultMap="InAndOutRestMap">
        SELECT * FROM A_INOUT_ALL WHERE A_U_NAME = #{u_name} AND A_FLAG = #{flag}
    </select>

    <!--修改记录-->

    <update id="updRecord" parameterType="com.abc.account.pojo.InAndOut">

        UPDATE A_INOUT_ALL SET
        A_K_NAME = #{k_name,jdbcType=VARCHAR},
        A_FLAG = #{flag,jdbcType=INTEGER},
        A_DESC = #{desc,jdbcType=VARCHAR},
        A_CHARGE = #{charge,jdbcType=VARCHAR},
        A_DATE = #{date,jdbcType=VARCHAR}
        WHERE A_ID = #{id,jdbcType=INTEGER}
    </update>

    <!--新增记录-->

    <insert id="addRecord" parameterType="com.abc.account.pojo.InAndOut">

        INSERT INTO A_INOUT_ALL VALUES (
        RECORD_SEQ.nextval,
        #{u_name},
        #{k_name},
        #{flag},
        #{desc},
        #{charge},
        #{date}
        )
    </insert>

    <!--删除记录-->

    <delete id="delRecord">

        DELETE FROM A_INOUT_ALL WHERE A_ID = #{id}
    </delete>

    <!--查询所有收入总量-->
    <select id="findAllIn" resultType="String">
       select  SUM (A_CHARGE) FROM A_INOUT_ALL WHERE A_FLAG = 1 and A_U_NAME = #{userName}
    </select>
    <!--查询所有开支总量-->
    <select id="findAllOut" resultType="String">
       select  SUM (A_CHARGE) FROM A_INOUT_ALL WHERE A_FLAG IN (0,3) and A_U_NAME = #{userName}
    </select>
 <!--查询所有收入明细-->
    <select id="getAllIn" resultMap="InAndOutRestMap">
       select  * FROM A_INOUT_ALL WHERE A_FLAG = 1 and A_U_NAME = #{userName}
    </select>
    <!--查询所有开支明细-->
    <select id="getAllOut" resultMap="getAllOutRestMap">
       select  A_K_NAME,sum(A_CHARGE) AS CHARGE from A_INOUT_ALL
       where A_FLAG IN (0,3) and A_U_NAME = #{userName} group by A_K_NAME
    </select>

</mapper>
