<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.account.mapper.KindMapper">
    <resultMap id="kindRestMap" type="com.abc.account.pojo.Kind">
        <id column="K_ID" property="id"/>
        <result column="K_NAME" property="name"/>
        <result column="K_FLAG" property="flag"/>
    </resultMap>

    <!--查询类别-->
    <select id="findAllKind" resultMap="kindRestMap">
        SELECT * FROM A_KIND where K_FLAG = #{flag}
    </select>
    <!--&lt;!&ndash;查询所有收入类别&ndash;&gt;-->
    <!--<select id="findAllinKind" resultMap="kindRestMap">-->
    <!--SELECT * FROM A_KIND where K_FLAG = #{flag}-->
    <!--</select>-->
    <!--&lt;!&ndash;查询所有预留开支类别&ndash;&gt;-->
    <!--<select id="findAllPreKind" resultMap="kindRestMap">-->
    <!--SELECT * FROM A_KIND where K_FLAG = #{flag}-->
    <!--</select>-->

    <!--修改类别-->

    <update id="updKind">
        UPDATE A_KIND SET K_NAME = #{newName} WHERE K_ID = #{id}
    </update>

    <!--新增类别-->

    <insert id="addKind" parameterType="com.abc.account.pojo.Kind" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO A_KIND
        (K_NAME,K_FLAG)
        VALUES (

        #{name},#{flag}
        )
    </insert>

    <!--删除类别-->

    <delete id="delKind">
        DELETE FROM A_KIND WHERE K_ID = #{id}
    </delete>


</mapper>
