<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.account.mapper.UserMapper">
    <resultMap id="userRestMap" type="com.abc.account.pojo.User">
        <id column="U_ID" property="id"/>
        <result column="U_NAME" property="name"/>
        <result column="U_AGE" property="age"/>
        <result column="U_JOB" property="job"/>
        <result column="U_PASSWORD" property="password"/>
        <result column="U_IDENTITY_CARD" property="identityCard"/>
    </resultMap>

    <!--登录验证-->
    <select id="login" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE U_NAME = #{name} AND U_PASSWORD = #{password}
         AND U_IDENTITY_CARD = #{identityCard}
    </select>

    <!--查询用户-->
    <select id="login1" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE U_NAME = #{name}
         AND U_IDENTITY_CARD = #{identityCard}
    </select>

    <!--注册用户-->
    <insert id="addUser" parameterType="com.abc.account.pojo.User">
        INSERT INTO A_USER VALUES (
            USER_SEQ.nextval,
            #{name},
            #{age},
            #{job},
            #{password},
            #{identityCard}
        )
    </insert>

    <!--修改密码-->
    <update id="updPassword">
        UPDATE A_USER  SET U_PASSWORD = #{password}
         WHERE U_NAME = #{name}
         AND U_IDENTITY_CARD = #{identityCard}
    </update>

    <!--删除用户-->
    <delete id="delUser">
        DELETE FROM A_USER WHERE U_ID = #{id}
    </delete>

    <!--获取所有用户-->
    <select id="getAllUser" resultMap="userRestMap">
        SELECT * FROM A_USER
    </select>
</mapper>
