<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.account.mapper.UserMapper">
    <resultMap id="userRestMap" type="com.abc.account.pojo.User">
        <id column="U_ID" property="id"/>
        <result column="U_NAME" property="name"/>
        <result column="U_EMAIL" property="mails"/>
        <!--<result column="U_JOB" property="job"/>-->
        <result column="U_PASSWORD" property="password"/>
        <result column="U_POSITION" property="position"/>
    </resultMap>
    <resultMap id="familyPosition" type="com.abc.account.pojo.FamilyPosition">
        <id column="POSITION_ID" property="id"/>
        <result column="POSITION_NAME" property="name"/>
    </resultMap>

    <!--登录验证-->
    <select id="login" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE ( U_NAME = #{name,jdbcType=VARCHAR} OR U_EMAIL = #{mails,jdbcType=VARCHAR} )AND U_PASSWORD = #{password,jdbcType=VARCHAR}
    </select>

    <!--获取所有position-->
    <select id="findAllPosition" resultMap="familyPosition">
        select * from A_POSITION
    </select>

    <!--查询用户-->
    <select id="selectByName" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE U_NAME = #{name,jdbcType=VARCHAR}
    </select>
    <!--查询用户-->
    <select id="selectByEmail" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE U_EMAIL = #{mails,jdbcType=VARCHAR}
    </select>
    <!--查询用户-->
    <select id="selectByNameOrEmail" parameterType="com.abc.account.pojo.User" resultMap="userRestMap">
        SELECT * FROM A_USER WHERE U_NAME = #{name ,jdbcType=VARCHAR} or U_EMAIL = #{mails,jdbcType=VARCHAR}
    </select>

    <!--注册用户-->
    <insert id="addUser" parameterType="com.abc.account.pojo.User" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO A_USER
        (U_NAME,U_PASSWORD,U_POSITION,U_EMAIL)
        VALUES (
            #{name,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{position,jdbcType=VARCHAR},
            #{mails,jdbcType=VARCHAR}
        )
    </insert>

    <!--修改密码-->
    <update id="updPassword" parameterType="com.abc.account.pojo.User">
        UPDATE A_USER  SET U_PASSWORD = #{password, jdbcType=VARCHAR}
         WHERE U_NAME = #{name,jdbcType=VARCHAR} or U_EMAIL = #{mails ,jdbcType=VARCHAR}
    </update>
    <!--修改个人信息-->
    <update id="modifyInformation" parameterType="com.abc.account.pojo.User">
        UPDATE A_USER  SET U_NAME = #{name},U_POSITION = #{position}
         WHERE U_EMAIL = #{mails,jdbcType=VARCHAR}
    </update>


    <!--删除用户-->
    <delete id="delUser">
        DELETE FROM A_USER WHERE U_NAME = #{name,jdbcType=VARCHAR}
    </delete>

    <!--获取所有用户-->
    <select id="getAllUser" resultMap="userRestMap">
        SELECT * FROM A_USER
    </select>

    <!--找回用户名-->
    <select id="findUserName" resultMap="userRestMap" parameterType="com.abc.account.pojo.User">
        SELECT * FROM A_USER WHERE U_EMAIL = #{mails ,jdbcType=VARCHAR}
    </select>
</mapper>
